<div class="form-header">
  <h2>Sign In</h2>
</div>

<form [formGroup]="signinForm" (ngSubmit)="Submit()">
  <label for="email">Email:</label>
  <input type="email" formControlName="email" />
  @if (signinForm.get('email')?.invalid && signinForm.get('email')?.touched) {
  @if (signinForm.get('email')?.hasError('required')) {
  <p class="form-warning">Email is required</p>
  } @if (signinForm.get('email')?.hasError('email')) {
  <p class="form-warning">Please enter a valid email</p>
  } @if (signinForm.get('email')?.hasError('xssEmail')) {
  <p class="form-warning">Email contains invalid characters</p>
  } }

  <label for="password">Password:</label>
  <input type="password" formControlName="password" />
  <!-- @if (hasError('password')) {
    <p class="form-warning">Password is required</p>
    } -->

  @if (SigninStatusMessage()) {
  <p class="form-success">{{ SigninStatusMessage() }}</p>
  } @if (SigninError()) {
  <p class="form-error">{{ SigninError() }}</p>
  }

  <button type="submit" [disabled]="signinForm.invalid">Sign In</button>

  <div class="signup-link">
    Don't have an account? <a [routerLink]="['/signup']">Sign Up</a>
  </div>
</form>
