<h2>Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="Submit()">
    <label for="email">Email:</label>
    <input type="email" formControlName="email" />
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <p class="form-warning">
            Email must be valid
        </p>
    </div>

    <label for="password">Password:</label>
    <input type="password" formControlName="password" />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <p class="form-warning">
            Password is required
        </p>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <button type="button" [routerLink]="['/signup']">Sign Up</button>
</form>