<h2>Sign Up</h2>

<form [formGroup]="signupForm" (ngSubmit)="Submit()">

    <label for="username">Username:</label>
    <input type="text" formControlName="username" />
    @if (signupForm.get('username')?.invalid && signupForm.get('username')?.touched) {
    <p class="form-warning">Username is required</p>
    }

    <label for="email">Email: </label>
    <input type="email" formControlName="email" />
    @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched) {
    <p class="form-warning">Invalid email</p>
    }

    <label for="password">Password: </label>
    <input type="password" formControlName="password" />
    @if (isPasswordInvalid) {
    <p class="form-warning">Invalid password</p>
    }

    <label for="confirmPassword">Confirm Password: </label>
    <input type="password" formControlName="confirmPassword" />
    @if (passwordsDoNotMatch) {
    <p class="form-warning">Passwords do not match</p>
    }

    <button type="submit" [disabled]="signupForm.invalid">Register</button>
    <button type="button" [routerLink]="['/login']">Log in</button>

    <!-- Give user a feedback to signup status: (success/fail) -->
    @if (SignupStatusMessage) {
    <div [ngClass]="{ 'signup-error': SignupError, 'signup-success': !SignupError }">
        {{ SignupStatusMessage }}
    </div>
    }
</form>